// Social buttons
.counter {
  box-shadow: $z-depth-1;
  // position: absolute;
  position: relative;
  z-index: 2;
  // margin-top: $btn-counter-margin-top;
  margin-left: $btn-counter-margin-left;
  border-radius: $btn-counter-border-radius;
  padding: $btn-counter-padding-y $btn-counter-padding-x;
  background-color: $btn-counter-bgc;
  font-size: $btn-counter-font-size;
  color: $white-base;
  left: auto;
  top: -23px;

  &.counter-lg {
    // margin-top: $btn-lg-counter-margin-top;
    top: -27px;
  }

  &.counter-md {
    // margin-top: $btn-md-counter-margin-top;
    top: -19px;
  }

  &.counter-sm {
    // margin-top: $btn-sm-counter-margin-top;
    top: -15px;
  }
}

@each $medium, $color in $social-colors {
  @include make-button($medium, $color);
}