/*
 * MDBootstrap simple-charts.js integration
 * Learn more: https://mdbootstrap.com/plugins/jquery/simple-charts/
 * About MDBootstrap: https://mdbootstrap.com/
 */
.min-chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.min-chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.min-chart .percent {
    z-index: 2;
    display: inline-block;
    line-height: 110px;
}

.min-chart .percent::after {
    margin-left: 0.1em;
    font-size: 0.8rem;
    content: "%";
}
