{% extends "layout.html" %}

{% block title %} Manage Campuses {% endblock %}

{% block body %}

<form action="" method="POST" name="addCampus">
    <input name="campus_name">
    <input name="campus_location">
    <input type="submit" id="add_campus" name="add_campus" value="Add Campus">
</form>
<br><br>
<form action="" method="POST" name="deleteCampus">
    <input name="campus_id" value="Campus id">
    <input type="submit" id="delete_campus" name='delete_campus' value="Delete Campus">
</form>
<br><br>
<form action="" method="POST" name="editCampus">
    <input name="campus_name">
    <input name="campus_location">
    <input name="campus_id" value="Campus id">
    <input type="submit" id="edit_campus" name="edit_campus" value="Edit Campus">
</form>
<br><br>

<form action="" method="POST" name="addFaculty">
    <input name="campus_id">
    <input name="faculty_name">
    <input name="faculty_shortened_name">
    <input type="submit" id="add_faculty" name="add_faculty" value="Add Faculty">
</form>
<br><br>

<form action="" method="POST" name="editFaculty">
    <input name="faculty_name">
    <input name="faculty_shortened_name">
    <input name="campus_id" value="Campus id">
    <input name="faculty_id" value="Faculty id">
    <input type="submit" id="edit_faculty" name="edit_faculty" value="Edit Faculty">
</form>
<br><br>

<form action="" method="POST" name="deletefaculty">
    <input name="campus_id" value="Campus id">
    <input name="faculty_id" value="Faculty id">
    <input type="submit" id="delete_faculty" name='delete_faculty' value="Delete Faculty">
</form>
<br>

{% block content %}
    {% if campusses %}
        <table class="table-responsive">
            <thead>
            <tr>
                <th>Campus Name</th>
                <th>Campus Location</th>
            </tr>
            </thead>
            <tbody>
            {% for i in (campusses) %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.location }}</td>
                    {% if i.faculties %}
                        <table class="table-responsive">
                            <thead>
                            <tr>
                                <th>Faculty Name</th>
                                <th>Faculty Shortened Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for j in (i.faculties) %}
                                <tr>
                                    <td>{{ j.faculty_name }}</td>
                                    <td>{{ j.faculty_shortened_name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% endblock %}