/* body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
} */

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.3rem;
  }


.jumbotron{
    background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
}

html body {
    background-color: rgb(190, 245, 255);
}