{%extends "layout.html"%} {% block body %} 
<div class="container mt-3">
    <h1 class="mb-3">Campus Management</h1>
<hr>
    <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
    <form class="form needs-validation" action="" method="post" id="form_add_campus"
          name="campus_add" enctype="multipart/form-data">
          {{ context.form.csrf_token }}
        <input type="hidden" name="add_campus_form"/>
        {% if context.error %}  
        <div class="container" style="background:tomato;border:1px solid gray">
            <p>{{context.error}}</p>
        </div>
         {% endif %} 
          <div class="form-group inline">
            <label for="name" class="mr-sm-2"><i class="fas fa-university"></i> Campus Name:</label>
         <!--   <input type="text" class="form-control mb-2 mr-sm-2" style="width:80%;" id="name"
                   placeholder="e.g. 'Ayazaga Campus'" name="name" required>-->
            
                   {{ context.form.name(required=True, autofocus=True,
                    class='form-control mb-2 mr-sm-2',
                    placeholder='e.g. "Ayazaga"', style='width:80%', id='name') }} {% for error in
                    context.form.name.errors %}
                    <div class="invalid-feedback">s{{ error }}</div>
                    {% endfor %}           
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label for="phone" class="mr-sm-2"><i class="fas fa-map-marker"></i>

                Campus Address:</label>
     <!---       <textarea type="text" class="form-control mb-2 mr-sm-2" id="phone"
                   placeholder="Address of the new campus." style="width:80%;" name="phone" required></textarea>
     -->
            {{ context.form.address(required=True, autofocus=True,
                class='form-control mb-2 mr-sm-2',
                placeholder='Address the New Campus', style='width:80%', id='address') }} {% for error in
                context.form.address.errors %}
                <div class="invalid-feedback">s{{ error }}</div>
                {% endfor %}   
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="phone" class="mr-sm-2"><i class="fas fa-city"></i>

                Campus City:</label>
               <!-- <select class="form-control" style="width:80%;" id="category" name="category" required>
                        <option value="0">Select City</option>
                        <option value="1">Adana</option>
                        <option value="2">Adıyaman</option>
                        <option value="3">Afyonkarahisar</option>
                        <option value="4">Ağrı</option>
                        <option value="5">Amasya</option>
                        <option value="6">Ankara</option>
                        <option value="7">Antalya</option>
                        <option value="8">Artvin</option>
                        <option value="9">Aydın</option>
                        <option value="10">Balıkesir</option>
                        <option value="11">Bilecik</option>
                        <option value="12">Bingöl</option>
                        <option value="13">Bitlis</option>
                        <option value="14">Bolu</option>
                        <option value="15">Burdur</option>
                        <option value="16">Bursa</option>
                        <option value="17">Çanakkale</option>
                        <option value="18">Çankırı</option>
                        <option value="19">Çorum</option>
                        <option value="20">Denizli</option>
                        <option value="21">Diyarbakır</option>
                        <option value="22">Edirne</option>
                        <option value="23">Elazığ</option>
                        <option value="24">Erzincan</option>
                        <option value="25">Erzurum</option>
                        <option value="26">Eskişehir</option>
                        <option value="27">Gaziantep</option>
                        <option value="28">Giresun</option>
                        <option value="29">Gümüşhane</option>
                        <option value="30">Hakkâri</option>
                        <option value="31">Hatay</option>
                        <option value="32">Isparta</option>
                        <option value="33">Mersin</option>
                        <option value="34">İstanbul</option>
                        <option value="35">İzmir</option>
                        <option value="36">Kars</option>
                        <option value="37">Kastamonu</option>
                        <option value="38">Kayseri</option>
                        <option value="39">Kırklareli</option>
                        <option value="80">Kırşehir</option>
                        <option value="41">Kocaeli</option>
                        <option value="42">Konya</option>
                        <option value="43">Kütahya</option>
                        <option value="44">Malatya</option>
                        <option value="45">Manisa</option>
                        <option value="46">Kahramanmaraş</option>
                        <option value="47">Mardin</option>
                        <option value="48">Muğla</option>
                        <option value="49">Muş</option>
                        <option value="50">Nevşehir</option>
                        <option value="51">Niğde</option>
                        <option value="52">Ordu</option>
                        <option value="53">Rize</option>
                        <option value="54">Sakarya</option>
                        <option value="55">Samsun</option>
                        <option value="56">Siirt</option>
                        <option value="57">Sinop</option>
                        <option value="58">Sivas</option>
                        <option value="59">Tekirdağ</option>
                        <option value="60">Tokat</option>
                        <option value="61">Trabzon</option>
                        <option value="62">Tunceli</option>
                        <option value="63">Şanlıurfa</option>
                        <option value="64">Uşak</option>
                        <option value="65">Van</option>
                        <option value="66">Yozgat</option>
                        <option value="67">Zonguldak</option>
                        <option value="68">Aksaray</option>
                        <option value="69">Bayburt</option>
                        <option value="70">Karaman</option>
                        <option value="71">Kırıkkale</option>
                        <option value="72">Batman</option>
                        <option value="73">Şırnak</option>
                        <option value="74">Bartın</option>
                        <option value="75">Ardahan</option>
                        <option value="76">Iğdır</option>
                        <option value="77">Yalova</option>
                        <option value="78">Karabük</option>
                        <option value="79">Kilis</option>
                        <option value="80">Osmaniye</option>
                        <option value="81">Düzce</option>
                        <option value="82">Abroad</option>
                </select>-->
                {{ context.form.city(required=True, autofocus=True,
                    class='form-control',
                    placeholder='Select City', style='width:80%;', id='name') }} {% for error in
                    context.form.city.errors %}
                    <div class="invalid-feedback">s{{ error }}</div>
                    {% endfor %}
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>  

        <div class="form-group">
                <label for="phone_number_input" class="mr-sm-2"><i class="fas fa-phone"></i>
                    Campus Phone Number :</label>
         <!--       <input type="number" style="width:80%;" class="form-control mb-2 mr-sm-2" id="phone" 
                       placeholder="How many acres is new campus? " name="phone" required> -->
                       {{ context.form.phone_number(required=True, autofocus=True,
                        class='form-control mb-2 mr-sm-2',
                        placeholder='5xxxxxxxxx', style='width:80%', maxlength="10", id="phone_number_input",
                        onkeydown="return ( event.ctrlKey || event.altKey 
                    || (47 < event.keyCode && event.keyCode < 58 && event.shiftKey==false) 
                    || (95 < event.keyCode && event.keyCode < 106)
                    || (event.keyCode==8) || (event.keyCode==9) 
                    || (event.keyCode>34 && event.keyCode < 40) 
                    || (event.keyCode==46) )") }} {% for error in
                        context.form.phone_number.errors %}   
                        <div class="invalid-feedback">{{ error }}</div>
                        {%endfor%}
                       <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
                <script>
                        document.getElementById('phone_number_input').addEventListener('keypress',(e)=>{
                            console.log('hey'+e.target.value)

                            if(document.getElementById('phone_number_input').value.length < 10)
                                document.getElementById('phone_number_input').style.borderColor='red';
                            else if(document.getElementById('phone_number_input').value.length == 10)
                                document.getElementById('phone_number_input').style.borderColor='green';
                        });
                </script>
            </div>

        <div class="form-group">
            <label for="phone" class="mr-sm-2"><i class="fas fa-expand-arrows-alt"></i>
                Campus Size (Acres):</label>
     <!--       <input type="number" style="width:80%;" class="form-control mb-2 mr-sm-2" id="phone" 
                   placeholder="How many acres is new campus? " name="phone" required> -->
                   {{ context.form.size(type="number",required=True, autofocus=True,
                    class='form-control mb-2 mr-sm-2',
                    placeholder='Campus Size(Acres)', style='width:80%', id='size') }} {% for error in
                    context.form.size.errors %}   
                    <div class="invalid-feedback">{{ error }}</div>
                    {%endfor%}
                   <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>

        </div>
        <div class="form-group">
                <label for="foundation_date" class="mr-sm-2"><i class="fas fa-calendar-alt"></i> Foundation Date:</label>
              <!--  <input
                  type="date"
                  class="form-control mb-2 mr-sm-2"
                  id="foundation_date"
                  name="foundation_date"
                  required
                /> -->
                {{ context.form.foundation_date(type="date",format='%Y-%m-%d',required=True, autofocus=True,
                class='form-control mb-2 mr-sm-2',
                style='width:80%', id='foundation_date') }} {% for error in
                context.form.foundation_date.errors %}   
                <div class="invalid-feedback">{{ error }}</div>
                {%endfor%}
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please enter the birthday.</div>
        </div>
        <div class="row">
          <div class="col-5">
              <div id="add_image_form_check_group" class="form-group">
                  <label for="add_image_checkbox" class="mr-sm-2"><i class="fas fa-question-circle"></i>
                  Add picture now?</label>
                <!--  <input type="checkbox" id="add_image_checkbox" value="No" checked/> -->
                  {{ context.form.add_image_checkbox(class='form-control mb-2 mr-sm-2',
                       id='add_image_checkbox', style="width:20%") }} {% for error in
                      context.form.add_image_checkbox.errors %}
                      <div class="invalid-feedback">s{{ error }}</div>
                      {%endfor%}                     
              </div>
          </div>
          <div class="col">
              <div id="add_image_form_group" style="visibility: hidden;" class="form-group">
                  <label for="campus_picture_input" class="mr-sm-2"><i class="fas fa-camera"></i>
      
                      Campus Picture:</label>
             <!--     <input type="file" style="width:80%"class="form-control mb-2 mr-sm-2" id="campus_picture_input"
                         placeholder="Enter phone" name="phone" required> -->
                         {{ context.form.image(autofocus=True,
                          class='form-control mb-2 mr-sm-2',
                          placeholder='Campus Picture',style='width:80%', id='campus_picture_input') }} {% for error in
                          context.form.image.errors %}
                          <div class="invalid-feedback">s{{ error }}</div>
                          {%endfor%}                   
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
              </div>
          </div>
        </div>
        
        

        


        <script>
            document.getElementById('add_image_checkbox').addEventListener("change",()=>{
                if(document.getElementById('add_image_checkbox').value==="No"){
                    document.getElementById('add_image_form_group').style.visibility="hidden";
                    document.getElementById('add_image_checkbox').value="Yes";
                }else{
                    document.getElementById('add_image_form_group').style.visibility="visible";
                    document.getElementById('add_image_checkbox').value="No";
                }
            });
        </script>
        
        <button type="submit" class="btn btn-primary mb-2">Add New Campus</button>
        <button type="submit" class="btn btn-danger mb-2">Reset</button>
    </form>
    </div>
    
    <div class="col-lg-6 col-sm-12 col-md-12">
            <h3 style="text-align: center;">Campus List</h3>
            <table class="table mt-4 is-striped is-fullwidth table-hover table-sm">
            <thead>
            <tr>
           <!--  <th scope="col"><i class="fas fa-id-badge"></i> Id</th>
            --> <th scope="col"><i class="fas fa-signature"></i> Campus Name</th>
                <th scope="col"><i class="fas fa-phone"></i> Campus Phone</th>
                <th scope="col"><i class="fas fa-cog"></i> Settings</th>
            </tr>
            </thead>
            <tbody>
            {% for id, campus in context.campuses %}
            <!-- REMOVE MODAL --------------------------------------------- START-->
            <div class="modal fade" id="remove_campus_modal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">You are deleting Campus {{ campus.name }} </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure that you wanna delete Campus {{campus.name}}?
                    </div>
                    <div class="modal-footer">
                      <form method="POST">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <input type="hidden" value={{id}} name="delete_campus_flag"/>
                          <button type="submit" name="delete_campus_flag" class="btn btn-primary">Delete Now</button>
                      </form>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

<!-- REMOVE MODAL --------------------------------------------- END-->

<!-- EDIT INFORMATIN MODAL --------------------------------------- START -->

<!-- Central Modal Medium Info -->
<div class="modal fade" id="edit_campus_modal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">You are directing Campus edit page </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure that you wanna do some changes related to Campus {{campus.name}}?
        </div>
        <div class="modal-footer">
          <form method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

              <input type="hidden" value={{id}} name="redirect_edit_page"/>
              <button type="submit" name="redirect_edit_page" class="btn btn-primary">Yes</button>
          </form>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Central Modal Medium Info-->
<!-- EDIT INFORMATION MODAL ---------------- END-->
                <tr>
                    <!--<td scope="row"><a
                            href="{{ url_for("campus_detailed", campus_id=id) }}">{{ id }}</a></td>
                    --><td><i class="fas fa-university"></i> {{ campus.name }}</td>
                    <td>{{ campus.phone_number }}</td>
                    <form method="POST">
                    <td><i class="fas fa-trash-alt" id="delete_campus" data-toggle="modal" data-target="#remove_campus_modal{{id}}"  style="cursor: pointer;"></i> </form> | <i class="fas fa-edit" data-toggle="modal" data-target="#edit_campus_modal{{id}}"  style="cursor: pointer;"></i></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    

    </div>
</div>
    </div>
 
{% endblock %}
