{%extends "layout.html"%} {% block body %}
<div class="container mt-3">
  <form name="campus_edit" method="POST">
  <div class="form-group">
  <h1 class="mb-3"><p id="campus_name" style="display:inline" value="{{context.Campus.name}}">{{context.Campus.name}}</p> <i id="campus_name_edit_icon" class="far fa-edit"  style="cursor: pointer;"></i></h1>
  {{ context.edit_campus_form.name(required=True, autofocus=True,
    class='form-control mb-2 mr-sm-2',
    placeholder='e.g. "Ayazaga Campus"', style='width:80%;visibility:hidden', id='campus_name_edit') }} {% for error in
    context.edit_campus_form.name.errors %}
    <div class="invalid-feedback">s{{ error }}</div>
    {% endfor %}   
  </div>
  <hr />
  <div class="row">
    <div class="col-6">
      <div class="form-group">
      <h4><i class="fas fa-map-marker"></i> Campus Address:</h4>
      <p><p id="campus_address" style="display:inline" >{{context.Campus.address}}</p> <i id="campus_address_edit_icon" class="far fa-edit" style="cursor: pointer;"></i></p>
 <!---    <textarea type="text" class="form-control mb-2 mr-sm-2" style="visibility: hidden;" id="campus_address_edit"
      placeholder="Address of the campus." style="width:80%;visibility: hidden;" name="address" value={{context.Campus.address}} required></textarea>
 -->
      {{ context.edit_campus_form.address(required=True, autofocus=True,
        class='form-control mb-2 mr-sm-2',
        placeholder='Address the New Campus', style='width:80%;visibility:hidden', id='campus_address_edit') }} {% for error in
        context.edit_campus_form.address.errors %}
        <div class="invalid-feedback">s{{ error }}</div>
        {% endfor %}  
      </div>
      <div class="form-group">
      <h4><i class="fas fa-city"></i> Campus City:</h4>
      <p ><p id="campus_city" style="display:inline">{{context.Campus.city}}</p> <i id="campus_city_edit_icon" class="far fa-edit"  style="cursor: pointer;"></i></p>
      <!--Add here city selector-->
      {{ context.edit_campus_form.city(required=True, autofocus=True,
        class='form-control',
        placeholder='Select City', style='width:80%;visibility:hidden', id='campus_city_edit') }} {% for error in
        context.edit_campus_form.city.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">      
      <h4><i class="fas fa-phone"></i> Campus Phone Number :</h4>
      <p><p id="campus_phone_number" style="display: inline;">{{context.Campus.phone_number}}</p> <i id="campus_phone_number_edit_icon"class="far fa-edit"  style="cursor: pointer;"></i></p>
  <!--    <input type="text" style="width:80%;visibility: hidden;" class="form-control mb-2 mr-sm-2" id="campus_phone_number_edit"
      value={{context.Campus.phone_number}} name="campus_phone_number_edit" required>-->
      {{ context.edit_campus_form.phone_number(required=True, autofocus=True,
        class='form-control mb-2 mr-sm-2',
        placeholder='5xxxxxxxxx', style='width:80%;visibility:hidden', maxlength="10", id="campus_phone_number_edit",
        onkeydown="return ( event.ctrlKey || event.altKey 
    || (47 < event.keyCode && event.keyCode < 58 && event.shiftKey==false) 
    || (95 < event.keyCode && event.keyCode < 106)
    || (event.keyCode==8) || (event.keyCode==9) 
    || (event.keyCode>34 && event.keyCode < 40) 
    || (event.keyCode==46) )") }} {% for error in
        context.edit_campus_form.phone_number.errors %}   
        <div class="invalid-feedback">{{ error }}</div>
        {%endfor%}
      </div>
      <div class="form-group">
      <h4><i class="fas fa-expand-arrows-alt"></i> Campus Size (Acres):</h4>
      <p><p id="campus_size" style="display: inline;">{{context.Campus.size}}</p> <i id="campus_size_edit_icon"class="far fa-edit"  style="cursor: pointer;"></i></p>
  
 <!--     <input type="number" style="width:80%;visibility:hidden" class="form-control mb-2 mr-sm-2" id="campus_size_edit"
      value={{context.Campus.size}} name="campus_size" required> -->
      {{ context.edit_campus_form.size(type="number",required=True, autofocus=True,
      class='form-control mb-2 mr-sm-2',
      placeholder='Campus Size(Acres)', style='width:80%;visibility:hidden', id='campus_size_edit') }} {% for error in
      context.edit_campus_form.size.errors %}   
      <div class="invalid-feedback">{{ error }}</div>
      {%endfor%}
      </div>
     
      <div class="form-group">      
          <h4><i class="fas fa-phone"></i> Campus Foundation Date :</h4>
          <p><p id="campus_foundation_date" style="display: inline;">{{context.Campus.foundation_date}}</p> <i id="campus_foundation_date_edit_icon"class="far fa-edit"  style="cursor: pointer;"></i></p>
      <!--    <input type="text" style="width:80%;visibility: hidden;" class="form-control mb-2 mr-sm-2" id="campus_phone_number_edit"
          value={{context.Campus.phone_number}} name="campus_phone_number_edit" required>-->
          {{ context.edit_campus_form.foundation_date(type="date",format='%Y-%m-%d',required=True, autofocus=True,
          class='form-control mb-2 mr-sm-2',
          style='width:80%;visibility:hidden;', id='campus_foundation_date_edit') }} {% for error in
          context.edit_campus_form.foundation_date.errors %}      
            <div class="invalid-feedback">{{ error }}</div>
            {%endfor%}
          </div>
         
      <div class="form-group">
      <div class="button-collapse">
      <button id="edit_save_button" type="submit" class="btn btn-success mb-2">Save all Changes</button>
      <button id="edit_discard_button" class="btn btn-danger mb-2" >Discard all Changes</button>
        <script>
          document.getElementById('edit_discard_button').addEventListener("click",()=>{
            document.getElementById('campus_name').innerText = "{{ context.Campus.name }}";
            document.getElementById('campus_name_edit').value = document.getElementById('campus_name').innerText;
            document.getElementById('campus_address').innerText = "{{ context.Campus.address }}";
            document.getElementById('campus_address_edit').value = document.getElementById('campus_address').innerText;
            document.getElementById('campus_size').innerText = "{{ context.Campus.size }}";
            document.getElementById('campus_size_edit').value = document.getElementById('campus_size').innerText;
            document.getElementById('campus_phone_number').innerText = "{{ context.Campus.phone_number }}";
            document.getElementById('campus_phone_number_edit').value = document.getElementById('campus_phone_number').innerText;});
        </script>
    </div>
    </div>
    </div>
  </form>
    <script>
      document.getElementById('campus_name_edit_icon').addEventListener("click",()=>{
        if(document.getElementById('campus_name_edit').style.visibility == "visible"){
          document.getElementById('campus_name_edit').style.visibility = "hidden";
        }else{
          document.getElementById('campus_name_edit').value = document.getElementById('campus_name').innerText;
          document.getElementById('campus_name_edit').style.visibility = "visible";
          document.getElementById('edit_save_button').style.visibility="visible";
        }
      });

      document.getElementById('campus_city_edit_icon').addEventListener("click",()=>{
        if(document.getElementById('campus_city_edit').style.visibility == "visible"){
          document.getElementById('campus_city_edit').style.visibility = "hidden";
        }else{
          document.getElementById('campus_city_edit').style.visibility = "visible";
          document.getElementById('edit_save_button').style.visibility="visible";
        }
      });

      document.getElementById('campus_size_edit_icon').addEventListener("click",()=>{
        if(document.getElementById('campus_size_edit').style.visibility == "visible"){
          document.getElementById('campus_size_edit').style.visibility = "hidden";
        }else{
          document.getElementById('campus_size_edit').value = document.getElementById('campus_size').innerText;
          document.getElementById('campus_size_edit').style.visibility = "visible";
          document.getElementById('edit_save_button').style.visibility="visible";
        }
      });

      document.getElementById('campus_address_edit_icon').addEventListener("click",()=>{
        if(document.getElementById('campus_address_edit').style.visibility == "visible"){
          document.getElementById('campus_address_edit').style.visibility = "hidden";
        }else{
          document.getElementById('campus_address_edit').value = document.getElementById('campus_address').innerText;
          document.getElementById('campus_address_edit').style.visibility = "visible";
          document.getElementById('edit_save_button').style.visibility="visible";

        }
      });

      document.getElementById('campus_phone_number_edit_icon').addEventListener("click",()=>{
        if(document.getElementById('campus_phone_number_edit').style.visibility == "visible"){
          document.getElementById('campus_phone_number_edit').style.visibility = "hidden";
        }else{
          document.getElementById('campus_phone_number_edit').value = document.getElementById('campus_phone_number').innerText;
          document.getElementById('campus_phone_number_edit').style.visibility = "visible";
          document.getElementById('edit_save_button').style.visibility="visible";
        }
      });
      document.getElementById('campus_foundation_date_edit_icon').addEventListener("click",()=>{
        if(document.getElementById('campus_foundation_date_edit').style.visibility == "visible"){
          document.getElementById('campus_foundation_date_edit').style.visibility = "hidden";
        }else{
          document.getElementById('campus_foundation_date_edit').value = document.getElementById('campus_phone_number').innerText;
          document.getElementById('campus_foundation_date_edit').style.visibility = "visible";
          document.getElementById('edit_save_button').style.visibility="visible";
        }
      });      
      document.getElementById('campus_phone_number_edit').addEventListener("keydown",(event)=>{
        document.getElementById("campus_phone_number").innerText = event.target.value;
      });
      document.getElementById('campus_name_edit').addEventListener("keyup",(event)=>{
        document.getElementById("campus_name").innerText = event.target.value;
      });
      document.getElementById('campus_size_edit').addEventListener("keydown",(event)=>{
        document.getElementById("campus_size").innerHTML = event.target.value;
      });  
      document.getElementById('campus_address_edit').addEventListener("keydown",(event)=>{
        document.getElementById("campus_address").innerHTML = event.target.value;
      });       
      document.getElementById('campus_city_edit').addEventListener("keydown",(event)=>{
        document.getElementById("campus_city").innerHTML = event.target.value;
      });
      document.getElementById('campus_foundation_date_edit').addEventListener("keydown",(event)=>{
        document.getElementById("campus_foundation_date").innerHTML = event.target.value;
      });      
    // when pushed id(campus_name_edit_icon) show id(campus_name_edit) hide id(campus_name)
    // when pushed id(campus_city_edit_icon) show id(campus_city_edit) hide id(campus_city)
    // when pushed id(campus_size_edit_icon) show id(campus_size_edit) hide id(campus_size)
    // when pushed id(campus_address_edit_icon) show id(campus_address_edit) hide id(campus_address)
    // when pushed id(campus_phone_number_edit_icon) show id(campus_phone_number_edit) hide id(campus_phone_number)
    // For all situations make visible id(edit_save_button)
    </script>
    <div class="col-6">
      <img
        src="data:image/jpg;base64, {{ context.campus_image }}"
        class="img-fluid"
        style="border:2px solid gainsboro"
        alt="Responsive image"
      />
      <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input name="change_picture" type="text" hidden />
      <p style="text-align: center;">
        Change Picture <i id="change_picture_icon" class="far fa-edit"  style="cursor: pointer;"></i>
    
      </p>
      <div id ="upload_image" style="visibility: hidden;">
        <input name="image" type="file" />
        <input type="submit" class="btn btn-primary"/>
      </div>
    </form>
    </div>
  </div>
  <hr />

  <script>
      document.getElementById('change_picture_icon').addEventListener("click",()=>{
        if(document.getElementById('upload_image').style.visibility== "visible"){
          document.getElementById('upload_image').style.visibility= "hidden";
        }else{
          document.getElementById('upload_image').style.visibility= "visible";
        }
      });
      </script>
  <h3>Faculties in Ayazaga Campus</h3>
  <div class="row">   <div class="col-lg-6 col-sm-12 col-md-12">
        <form class="form needs-validation" action="" method="post" id="form_add_person"
              name="person_get">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group inline">
                <label for="name" class="mr-sm-2"><i class="fas fa-university"></i> Faculty Name:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" style="width:80%;" id="name"
                       placeholder="e.g. 'Ayazaga Campus'" name="name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group inline">
                    <label for="name" class="mr-sm-2"><i class="fas fa-university"></i> Faculty Shortened Name:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" style="width:80%;" id="name"
                           placeholder="e.g. 'Ayazaga Campus'" name="name" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>    
            <div class="form-group">
                <label for="phone" class="mr-sm-2"><i class="fas fa-map-marker"></i> Faculty Address:</label>
                <textarea type="text" class="form-control mb-2 mr-sm-2" id="phone"
                       placeholder="Address of the new campus." style="width:80%;" name="phone" required></textarea>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                    <label for="phone" class="mr-sm-2"><i class="fas fa-map-marker"></i> Faculty Phone Number:</label>
                    <textarea type="text" class="form-control mb-2 mr-sm-2" id="phone"
                           placeholder="Address of the new campus." style="width:80%;" name="phone" required></textarea>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            <div class="form-group">
                    <label for="bdate" class="mr-sm-2"><i class="fas fa-calendar-alt"></i> Faculty Foundation Date:</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="foundation_date" style="width:80%;" name="foundation_date"
                           required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please enter the birthday.</div>
                </div>
            <button type="submit" class="btn btn-primary mb-2">Add New Faculty</button>
        </form>
        </div>
        
        <div class="col-lg-6 col-sm-12 col-md-12">
                
                <table class="table mt-4 is-striped is-fullwidth table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col"><i class="fas fa-id-badge"></i> Id</th>
                    <th scope="col"><i class="fas fa-signature"></i> Campus Name</th>
                    <th scope="col"><i class="fas fa-phone"></i> Campus Phone</th>
                    <th scope="col"><i class="fas fa-cog"></i> Settings</th>
                </tr>
                </thead>
                <tbody>
                {% for id, campus in campuses %}
                    <tr>
                        <!--<td scope="row"><a
                                href="{ url_for("campus_detailed", campus_id=id) }">{ id }</a></td> -->
                        <td>{ campus.name }</td>
                        <td>{ person.phone }</td>
                        <td><i class="fas fa-trash-alt"></i> | <i class="fas fa-edit"  style="cursor: pointer;"></i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
    
        </div>
    </div> 
</div>

{% endblock %}
