{% extends "layout.html" %}

{% block title %} Add Instructor {% endblock %}

{% block body %}
    {% if error %}
        <div class="text-danger hr-bold">
            {{ error }}
        </div>
    {% endif %}
    <form action="" method="post" name="edit_instructor" class="form-inline">
    {{ form.csrf_token }}

        {% for field in form if field.widget.input_type != 'hidden' %}
           <div class="form-group">
                <label for="{{ field.id }}" class="mr-sm-2">{{ field.label }}</label>
                    {{ field(class="form-control mb-2 mr-sm-2") }}
                <div class="text-danger hr-bold">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% if request.path == url_for('add_instructor_page') %}
    <button class="button">Add Instructor</button>
     </form>
    {% else %}
    <button class="button">Update Instructor</button>
    </form>
    <form action="./delete" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="button red">Delete Instructor</button>
    </form>
    {% endif %}



{% endblock %}