{% extends "base.html" %} 

{% block title %} Main Page {% endblock title %} 

{% block stylesheet %}
  {% load static %}
<link href= "{% static 'pladat/profile.css'%}"  rel="stylesheet">
  {{block.super}} 
  <link href= "{% static 'pladat/circular-progress.css'%}"  rel="stylesheet">
{% endblock stylesheet %}


{% block content %}
    <div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3 ">
                  <div class="card sticky-top" style="top: 4.3rem;">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>{{student.pladatuser.first_name}} {{student.pladatuser.last_name}}</h4>

                          <hr>
                          <div class="progress mx-auto" data-value="{{ match_rate }}">
                                <span class="progress-left">
                                              <span class="progress-bar border-primary"></span>
                                </span>
                                <span class="progress-right">
                                              <span class="progress-bar border-primary"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                  <div class="h2 font-weight-bold">{{ match_rate }}<sup class="small">%</sup></div>
                                </div>
                          </div>
                          
                          <br>

                          <a href="/profile/{{student.pladatuser.pk}}" class="btn btn-md btn-success btn-block" name="yes" type="submit">Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="mb-0 text-center">General Info</h4>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{student.pladatuser.first_name}} {{student.pladatuser.last_name}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Country</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{student.pladatuser.country.name}}
                        </div>
                      </div>
                      <hr>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="mb-0 text-center">Background</h4>
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">University</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{student.get_university_display}}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Major</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{student.get_major_display}}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Degree</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{student.get_degree_display}}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Skills</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {% for skill in student.skills.all %}
                              {{skill}}{% if not forloop.last%},&nbsp;{% endif%}
                          {% endfor %}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Years Worked</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{profile_user.pladatuser.student.years_worked}}
                        </div>
                      </div>
                    </div>
                    <div>
                      <form class="form-control" method="post">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-sm-4">
                            <button class="btn btn-md btn-success btn-block" name="yes" type="submit">
                              Interested
                          </button>
                        </div>
                        <div class="col-sm-4">
                          <button class="btn btn-md btn-danger btn-block" name="no" type="submit">
                              Not Interested
                          </button>
                        </div>
                        <div class="col-sm-4">
                          <button class="btn btn-md btn-warning btn-block" name="skip" type="submit">
                            Skip
                        </button>
                      </div>
                      </div>
                    </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
{% endblock content %}