{% extends "layout.html" %}

{% block title %} Instructors {% endblock %}

{% block body %}

<table class="table mt-4 is-striped is-fullwidth table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">TR ID</th>
            <th scope="col">Department ID</th>
            <th scope="col">Faculty ID</th>
            <th scope="col">Room</th>
            <th scope="col">Specialization</th>
            <th scope="col">Bachelor's Degree</th>
            <th scope="col">Master's Degree</th>
            <th scope="col">Doctorate's Degree</th>
        </tr>
        </thead>
        {% for instructor in instructors %}
            <tr>
                <td>{{ instructor.tr_id }}</td>
                <td>{{ instructor.department_id }}</td>
                <td>{{ instructor.faculty_id }}</td>
                <td>{{ instructor.room_id }}</td>
                <td>{{ instructor.specialization }}</td>
                <td>{{ instructor.bachelors }}</td>
                <td>{{ instructor.masters }}</td>
                <td>{{ instructor.doctorates }}</td>
            </tr>

        {% endfor %}
</table>
{% endblock %}