{% extends "base.html" %} 

{% block title %} Main Page {% endblock title %} 

{% block stylesheet %}
  {% load static %}
<link href= "{% static 'pladat/profile.css'%}"  rel="stylesheet">
  {{block.super}} 
{% endblock stylesheet %} 

{% block content %}
    <div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3 ">
                  <div class="card sticky-top" style="top: 4.3rem;">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <div class="mt-3">
                            <h3>Job Title</h3>
                          <h4>{{job.title}}</h4>
                            <h5>Created by</h5>
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Recruiter" class="rounded-circle" width="150">
                            <h6>{{ recruiter.first_name }} {{ recruiter.last_name }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                {% if user.pladatuser.user_type == student_type %}
                    <div class="card sticky-top" style="top: 25rem;">
                      <form class="form-control" action="/jobs/job" method="post">
                          {% csrf_token %}
                          <button class="btn btn-md btn-success btn-block" name="yes" type="submit">
                              Interested
                          </button>
                          <button class="btn btn-md btn-dark btn-block" name="no" type="submit">
                              Not Interested
                          </button>
                      </form>
                  </div>
                {% endif %}
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="mb-0 text-center">General Info</h4>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Title</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{job.title}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Description</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{job.description}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Requirements</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{job.requirements}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">City</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{job.city}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">State</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{job.state}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Country</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{job.country}}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="mb-0 text-center">Company Info</h4>
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Company Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{recruiter.recruiter.company_name}}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{recruiter.recruiter.company_phone_number}}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{recruiter.recruiter.company_address}}
                        </div>
                      </div>
                      <hr/>
                    {% if user == recruiter.user %}
                        <div class="text-center">
                            <a href="./update" class="btn btn-primary">Update Job</a>
                        </div>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
{% endblock content %}