{% extends "base.html" %} 

{% block title %} Main Page {% endblock title %} 

{% block stylesheet %}
  {% load static %}
<link href= "{% static 'pladat/profile.css'%}"  rel="stylesheet">
  {{block.super}} 
{% endblock stylesheet %} 

{% block content %}
    <div class="container">
        <div class="main-body">
        
{#              <!-- Breadcrumb -->#}
{#              <nav aria-label="breadcrumb" class="main-breadcrumb">#}
{#                <ol class="breadcrumb">#}
{#                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>#}
{#                  <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>#}
{#                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>#}
{#                </ol>#}
{#              </nav>#}
{#              <!-- /Breadcrumb -->#}
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3 ">
                  <div class="card sticky-top" style="top: 4.3rem;">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <div class="mt-3">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Recruiter" class="rounded-circle" width="150">
                            <h6>{{ user.pladatuser.first_name }} {{ user.pladatuser.last_name }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="mb-0 text-center">Job Applications You Created</h4>
                        </div>
                      </div>
                    <div class="table-responsive">
                        <table class="table">
                        <thead>
                        <th>Title</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Update</th>
                        </thead>
                        <tbody>
                          {% for job in job_list %}
                            <tr>
                                <td>{{  job.title }}</td>
                                <td>{{ job.city }}</td>
                                <td> {{ job.country }} </td>
                                <td>
                                    <div class="text-center">
                                        <a href="./update" class="btn btn-sm btn-primary">Update</a>
                                    </div>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
{% endblock content %}