{% extends "base.html" %}

{% block stylesheet %}
{{ block.super }}
{% load static %}
    <link href=" {% static 'pladat/mainpage.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">PlaDat</h1>
    {% if request.user.is_authenticated %}

    <p class="lead">
      Welcome {{request.user.pladatuser.full_name}}
    </p>

    <p class="lead">
      New notifications since your last login:
      <ul>
        {% for notification in notifications %}
          {% if request.user.pladatuser.is_student %}
            <li>Company {{notification.appliedjob.job.company_name}} is also interested</li>
          {% else %}
            <li>Student {{notification.appliedjob.applicant.pladatuser.full_name}} is also interested</li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>


    {% else %}
    <p class="lead">
      PlaDat is an AI powered website that matches students with the companies.
      We use cutting edge machine learning algorithms to show best matched students so that companies and students save time.
    </p>

    <p class="lead">
      Use PlaDat to save time finding skilled interns or find companies that match you
    </p>

      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Register now</a>
      </p>

    {% endif %}
  </main>

</div>

{% endblock content %}