<html>
    <head>

    </head>
    <form action="" method="POST" name="addcampus">
        <input name="campusname">
        <input name="campuslocation">
        <input type="submit" id="add_campus" name="add_campus" value="Add Campus">
    </form>
    <br><br>
    <form action="" method="POST" name="deletecampus">
        <input name="campusid" value="Campus id">
        <input type="submit" id="delete_campus" name='delete_campus' value="Delete Campus">
    </form>
    <br><br>
    <form action="" method="POST" name="editcampus">
        <input name="campusname">
        <input name="campuslocation">
        <input name="campusid" value="Campus id">
        <input type="submit" id="edit_campus" name="edit_campus" value="Edit Campus">
    </form>
    <br><br>

    <form action="" method="POST" name="addfaculty">
        <input name="campusid">
        <input name="facultyName">
        <input name="facultyShortenedName">
        <input type="submit" id="add_faculty" name="add_faculty" value="Add Faculty">
    </form>
    <br><br>

    <form action="" method="POST" name="editfaculty">
        <input name="facultyName">
        <input name="facultyShortenedName">
        <input name="campusid" value="Campus id">
        <input name="facultyid" value="Faculty id">
        <input type="submit" id="edit_faculty" name="edit_faculty" value="Edit Faculty">
    </form>
    <br><br>

    <form action="" method="POST" name="deletefaculty">
        <input name="campusid" value="Campus id">
        <input name="facultyid" value="Faculty id">
        <input type="submit" id="delete_faculty" name='delete_faculty' value="Delete Faculty">
    </form>  
    <br>
    <body>
        {% block title %}Campusses List{% endblock %}
        {% block content %}
        {% if campusses %}
        <table class="table-responsive">
            <thead>
                <tr>
                    <th>Campus Name</th>
                    <th>Campus Location</th>
                </tr>
            </thead>
            <tbody>
                {% for i in (campusses) %}
                <tr>
                   <td>{{i.name}}</td>
                   <td>{{i.location}}</td>  
                   {% if i.faculties %}
                        <table class = "table-responsive">
                            <thead>
                                <tr>
                                    <th>Faculty Name</th>
                                    <th>Faculty Shortened Name</th>
                                </tr>    
                            </thead>
                            <tbody>
                                {% for j in (i.faculties) %}
                                <tr>
                                    <td>{{j.facultyName}}</td>
                                    <td>{{j.facultyShortenedName}}</td>
                                </tr>
                                {% endfor %}                
                            </tbody>
                        </table>
                    {% endif %}
                </tr>   
                {% endfor %}                
            </tbody>
        </table>
        {% endif %}
        {% endblock %}
    </body>

</html>