{% extends "base.html" %} 

{% block title %} Main Page {% endblock title %} 

{% block stylesheet %}
{% load static %}
<link href=" {% static 'pladat/profile_update.css' %}"  rel="stylesheet">
  {{block.super}} 
{% endblock stylesheet %} 

{% block content %}
<div class="container">
<div class="row gutters">
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<div class="account-settings">
					<div class="user-profile">
						<div class="user-avatar">
							<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
						</div>
						<h5 class="user-name">Yuki Hayashi</h5>
						<h6 class="user-email">yuki@Maxwell.com</h6>
					</div>
					<div class="about">
						<h5 class="mb-2 text-primary">About</h5>
						<p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<div class="col-12">
					<div class="row">
						<h6 class="mb-3 text-primary">General Info</h6>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="firstname">First Name</label>
							<input type="text" class="form-control" id="firstname" placeholder="Enter First Name">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="lastname">Last Name</label>
							<input type="text" class="form-control" id="lastname" placeholder="Enter Last Name">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="eMail">Email</label>
							<input type="email" class="form-control" id="eMail" placeholder="Enter email">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="phone">Phone</label>
							<input type="text" class="form-control" id="phone" placeholder="Enter phone number">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="City">City</label>
							<input type="text" class="form-control" id="City" placeholder="City">
						</div>
					</div>
				 	<div class="row">
						<div class="form-group col-12">
							<label for="State">State</label>
							<input type="text" class="form-control" id="State" placeholder="State">
						</div>
					</div>
				 	<div class="row">
						<div class="form-group col-12">
							<label for="Country">Country</label>
							<input type="text" class="form-control" id="Country" placeholder="This will be select">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="Address">Address</label>
							<input type="text" class="form-control" id="Address" placeholder="Address">
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row">
						<h6 class="mb-3 text-primary">Company Info</h6>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="Company_Name">Company Name</label>
							<input type="text" class="form-control" id="Company_Name" placeholder="Enter Company Name">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="Company_Phone">Phone Number</label>
							<input type="text" class="form-control" id="Company_Phone" placeholder="Enter Company Phone Number">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="Company_Address">Address</label>
							<input type="text" class="form-control" id="Company_Address" placeholder="Enter Company Address">
						</div>
					</div>
				</div>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="text-right">
							<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
							<button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock content %}