{% extends "layout.html" %}



{% block title %}Staff Page{% endblock %}
{% block body %}

<div class="container mt-3">

    <h1 class="mb-3">Add Staff</h1>



    <form action="" method="post" name="add_staff" class="form-inline needs-validation">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      <div class="form-group">
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                <br><br>
                  {% endif %} {% endwith %}

        <label for="manager_name" class="mr-sm-2">Manager Name:</label>
        <div class="form-group">
          <input type="text" name="manager_name" class="form-control mb-2 mr-sm-2" required="required" id="manager_name"/>

        </div>
      </div>
        <br> <br> <br>

      <div class="form-group">
        <label for="id" class="mr-sm-2">Staff id:</label>
        <div class="control">
          <input type="number" name="staff_id" class="form-control mb-2 mr-sm-2" required="required" id="id" />

        </div>
      </div>
        <br> <br> <br>


        <label for="hire_date" class="mr-sm-2">Hire date:</label>
        <div class="form-group">
          <input type="date" name="hire_date" class="form-control mb-2 mr-sm-2" id="hire_date" />

        </div>

        <br> <br> <br>


      <div class="form-group">
        <label for="department" class="mr-sm-2">Department:</label>
        <div class="control">
          <input type="text" name="department" class="form-control mb-2 mr-sm-2" id="department"/>

        </div>
      </div>
        <br> <br> <br>


      <div class="form-group">
        <label for="social_sec_no" class="mr-sm-2">Social Security Number:</label>
        <div class="control">
          <input type="number" name="social_sec_no" class="form-control mb-2 mr-sm-2" required="required" id="social_sec_no"/>

        </div>
      </div>
        <br> <br> <br>


      <div class="form-group">
        <label for="authority_lvl" class="mr-sm-2">Authority level:</label>
        <div class="control">
          <input type="number" name="authority_lvl" class="form-control mb-2 mr-sm-2" required="required" id="authority_lvl"/>
        </div>

      </div>
        <br><br><br>


      <div class="form-group">
        <label for="absences" class="mr-sm-2">Absences:</label>
        <div class="control">
          <input type="number" name="absences" class="form-control mb-2 mr-sm-2" id="absences"/>
        </div>
      </div>
        <br><br>

      <div class="field is-grouped">
        <div class="control">
          <button class="btn btn-primary mb-2">Add Staff</button>
        </div>
      </div>
    </form>

<br><br><br>


        <h1 class="mb-3">Staff List</h1>
                <table class="table is-striped is-fullwidth table-hover">
                <thead>
                <tr>
                    <th scope="col">Staff id</th>
                    <th scope="col">Manager Name</th>
                    <th scope="col">Absences</th>
                    <th scope="col">Hire Date</th>
                    <th scope="col">Authority level</th>
                    <th scope="col">Department</th>
                    <th scope="col">Social Security Number</th>

                </tr>
                </thead>

                <tbody>
                {% for staff in staffs %}
                <tr>

                <td>{{ staff.id }}</td>
                <td>{{ staff.manager_name }}</td>
                <td>{{ staff.absences }}</td>
                <td>{{ staff.hire_date }}</td>
                <td>{{ staff.authority_lvl }}</td>
                <td>{{ staff.department }}</td>
                <td>{{ staff.social_sec_no }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>


      </div>

<br>
<br><br><br>




{% endblock %}
    </div>