{% extends "base.html" %} 



{% block stylesheet %}
  {% load static %}
  <link href=" {% static 'pladat/login.css' %}" rel="stylesheet" />
  {{block.super}} 
{% endblock stylesheet %} 

{% block content %}

<div class="text-center">
   <form class="form-login" action="/login" method="post">
  {% csrf_token %}
    <img
      class="mb-4"
      src="https://upload.wikimedia.org/wikipedia/commons/2/22/SVG_Simple_Logo.svg"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>

  {% for field in form %}
  {% comment %} <label for={{field.id_for_label}} class="sr-only">{{field.id_for_label}}</label> {% endcomment %}
    {{field}}
  {% endfor %}
    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Log in
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
  </form>
</div>
{% endblock content %}
